.users__hide{
  transition: 0.5s;
  display: none;
}
.users__show {
  display: block;
}
.users-add{
  width: 60%;
  margin: 0 auto;
}
.users-add__input {
  width: 100%;
  display: block;
  font-size: 32px;
  outline: none;
  padding: 5px 10px;
  text-align: center;
  box-sizing: border-box;
}
.users-add__submit{
  width: 50%;
  float: right;
  font-size: 32px;
  margin-top: 25px;
  right: 0;
}
